.App {
  text-align: center;
}

.app-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

a {
  color: #61dafb;
}

.bin-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bin-form * {
  margin-top: 20px;
}

.bin-form button {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  font-size: 1em;
  border-radius: 8px;
}

.bin-form button:hover {
  background-color: #7183a8;
  cursor: pointer;
}

.bin-form button:active {
  background-color: #3a404c;
  cursor: pointer;
}

